[submodule "modules/python"]
	path = modules/python
	url = https://github.com/stankevich/puppet-python.git
[submodule "modules/sshkeys"]
	path = modules/sshkeys
	url = https://github.com/artem-sidorenko/puppet-sshkeys.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/systemd"]
	path = modules/systemd
	url = https://github.com/camptocamp/puppet-systemd
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = https://github.com/thias/puppet-sysctl.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/recursive_file_permissions"]
	path = modules/recursive_file_permissions
	url = https://github.com/npwalker/recursive_file_permissions.git
